@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: bold;
  src:
    local('Poppins-Bold'),
    url(/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 400;
  src:
    local('Poppins-Medium'),
    url(/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  font-style: normal;
  font-weight: lighter;
  src:
    local('Poppins-Light'),
    url(/fonts/Poppins/Poppins-Light.ttf) format('truetype');
}
